<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      asdsadasds
      <div class="carousel-caption">
        
        
        asdasdasd
        <ul>
                <li>
                  client defines his vision and requirements
                </li>
                <li>
                  brief introduction of the phases in the software development process
                </li>
                <li>
                  goals are clearly set to ensure that the software solution precisely complies with the specific bussiness need
                </li>
              </ul>
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        <ul>
                <li>
                  client defines his vision and requirements
                </li>
                <li>
                  brief introduction of the phases in the software development process
                </li>
                <li>
                  goals are clearly set to ensure that the software solution precisely complies with the specific bussiness need
                </li>
              </ul>
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- 
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="main-heading">WORKFLOW</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-7 col-md-offset-1">
      <div class="panel-group" id="accordion" data-behavior="Accordion" data-accordion-options="
      'headers': 'a.accordion-toggle',
      'sections': '.panel-collapse'
      ">
        <div class="panel panel-default selected">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle togglers"> 1. Goal identification </a>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse elements">
            <div class="panel-body desc">
              <ul>
                <li>
                  client defines his vision and requirements
                </li>
                <li>
                  brief introduction of the phases in the software development process
                </li>
                <li>
                  goals are clearly set to ensure that the software solution precisely complies with the specific bussiness need
                </li>
              </ul>
           </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 2. Strategic planning </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body desc">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle">3. Scrum </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="subpanel panel panel-default subheading">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 3a. Design </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body desc">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        
        <div class="subpanel panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 3b. Implementation and testing </a>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse">
            <div class="panel-body desc">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="subpanel panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 3c. Deployment and delivery </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body desc">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 4. Final product </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body desc">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading-cont">
            <div class="panel-heading">
              <a class="accordion-toggle"> 5. Maintenance and support </a>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse">
            <div class="panel-body desc">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="cell selected goal" data-step="goal">
      <span>
      <span style="padding-left: -10px">1. Goal</span>
      <span>identification</span>
      </span>
      </div>
      <div class="cell plan" data-step="plan">
      <span>2. Strategic planning</span>
      </div>
      <div class="scrum-cont row">
      <div class="col-xs-6 col-sm-6">
      <div class="cell scrum" data-step="scrum">
      <span>Scrum</span>
      </div>
      </div>
      <div class="col-xs-6 col-sm-6">
      <div class="cell" data-step="design">
      <span>3. Design</span>
      </div>
      <div class="cell" data-step="impl">
      <span>4. Implementation and testing</span>
      </div>
      <div class="cell" data-step="delivery">
      <span>5. Deployment and delivery</span>
      </div>
      </div>
      </div>
      <div class="cell product">
      <span>6. Final product</span>
      </div>
      <div class="cell support" data-step="support">
      <span>7. Maintenance <br>and support</span>
      </div>

      <div class="desc">
      <div class="goal-desc">
      <h3>1. Goal identification</h3>
      <ul>
      <li>client defines his vision and requirements</li>
      <li>brief introduction of the phases in the software development process</li>
      <li>goals are clearly set to ensure that the software solution precisely complies with the specific bussiness need</li>
      </ul>
      </div>
      <div class="plan-desc hidden">
      <h3>2. Strategic planning</h3>
      <ul>
      <li>identification and analysis of business and technical requirements</li>
      <li>analysis of the business environment and competitors, identification of the end user profiles</li>
      <li>development of priorities in case one of the goals is beyond budget</li>
      </ul>
      </div>
      <div class="scrum-desc hidden">
      <h3>Scrum</h3>
      <ul>
      <li>agile methodology that iteratively delivers demanded features</li>
      <li>each iteration results in working software that is ready for deployment</li>
      <li>quick development of the first working version and inclusion of new emerging desires of the client</li>
      </ul>
      </div>
      <div class="design-desc hidden">
      <h3>3. Design</h3>
      <ul>
      <li>definition of software architecture - design of software components and their interactions </li>
      <li>flexible architecture enables our clients to easily modify software according to their current needs</li>
      <li>designing of the user interface with an emphasis on pleasant user experience and responsive design (our applications work on all devices)</li>
      </ul>
      </div>
      <div class="impl-desc hidden">
      <h3>4. Implementation and testing</h3>
      <ul>
      <li>creation of the user interfaces</li>
      <li>back-end development that consists of the core application logic, databases, data and application integration</li>
      <li>internal testing to ensure that software fulfills desired specifications</li>
      </ul>
      </div>
      <div class="delivery-desc hidden">
      <h3>5. Deployment and delivery</h3>
      <ul>
      <li>deploying software to a test and production environment (installation on servers and/or devices)</li>
      <li>acceptance testing by the customer</li>
      <li>collection and processing of remarks, inclusion of the remarks in the subsequent iteration </li>
      </ul>
      </div>
      <div class="support-desc hidden">
      <h3>7. Maintenance and support</h3>
      <ul>
      <li>initial training and familiarization tour for software</li>
      <li>preventive, diagnostic, updating, and repair procedures</li>
      <li>ongoing critical support</li>
      </ul>
      </div>
      </div>

      
    </div>
    <div class="col-sm-3 col-sm-offset-1 hidden-xs pic"></div>
  </div>
  <!-- row 

</div>-->
<!-- container -->
