 <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="main-heading">WORKFLOW</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
      <div class="cell selected" data-step="goal">
        <span>Goal identification</span>
      </div>
      <div class="cell" data-step="plan">
        <span>Strategic planning</span>
      </div>
      <div class="scrum-cont row">
        <div class="col-xs-6 col-sm-6">
          <div class="cell scrum" data-step="scrum">
            <span>Scrum</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="cell" data-step="design">
            <span>Design</span>
          </div>
          <div class="cell" data-step="impl">
            <span>Implementation and testing</span>
          </div>
          <div class="cell" data-step="delivery">
            <span>Deployment and delivery</span>
          </div>
        </div>
      </div>
      <div class="cell product">
        <span>Final product</span>
      </div>
      <div class="cell support" data-step="support">
        <span>Maintenance <br>and support</span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="desc">
        <div class="goal-desc">
          <h4>Goal identification</h4>
          <ul>
            <li>client defines his requirements and vision</li>
            <li>brief introduction of the phases in the software development process</li>
            <li>clear set of goals contributes to more accurate software solution that precisely complies with the specific bussiness need</li>
          </ul>
        </div>
        <div class="plan-desc hidden">
          <h4>Strategic planning</h4>
          <ul>
            <li>identification and analysis of business and technical requirements</li>
            <li>analysis of the business environment, competitors and identification of the end user profiles</li>
            <li>development of prioties in case one of the goals is beyond budget</li>
          </ul>
        </div> 
        <div class="scrum-desc hidden">
         <h4>Scrum</h4>
          <ul>
            <li>inclusion of new emerging desires of the client</li>
            <li>content categorization, structuring and formatting</li>
            <li>development of prioties in case one of goals is beyond budget</li>
          </ul>
        </div>
        <div class="design-desc hidden">
         <h4>Design</h4>
          <ul>
            <li>development of site structure and design (our applications work on all devices and have responsive design)</li>
            <li>content categorization, structuring and formatting</li>
            <li>development of prioties in case one of goals is beyond budget</li>
          </ul>
        </div>
        <div class="impl-desc hidden">
         <h4>Implementation and testing</h4>
          <ul>
            <li>development of site structure and design (our applications work on all devices and have responsive design)</li>
            <li>content categorization, structuring and formatting</li>
            <li>development of prioties in case one of goals is beyond budget</li>
          </ul>
        </div>
        <div class="delivery-desc hidden">
         <h4>Deployment and delivery</h4>
          <ul>
            <li>fine tuning of application design and content</li>
            <li>last testing on various browsers and platforms</li>
            <li>development of prioties in case one of goals is beyond budget</li>
          </ul>
        </div>
        <div class="support-desc hidden">
         <h4>Maintenance and support</h4>
          <ul>
            <li>fine tuning of application design and content</li>
            <li>last tests on various browsers and platforms</li>
            <li>development of prioties in case one of goals is beyond budget</li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- row -->
  
</div>
<!-- container -->
