 <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="main-heading">WORKFLOW</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1 pic">
      <div class="cell selected goal" data-step="goal">
        <span>
          <span style="padding-left: -10px">1. Goal</span>
          <span>identification</span>
        </span>
      </div>
      <div class="cell plan" data-step="plan">
        <span>2. Strategic planning</span>
      </div>
      <div class="scrum-cont row">
        <div class="col-xs-6 col-sm-6">
          <div class="cell scrum" data-step="scrum">
            <span>Scrum</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="cell" data-step="design">
            <span>3. Design</span>
          </div>
          <div class="cell" data-step="impl">
            <span>4. Implementation and testing</span>
          </div>
          <div class="cell" data-step="delivery">
            <span>5. Deployment and delivery</span>
          </div>
        </div>
      </div>
      <div class="cell product">
        <span>6. Final product</span>
      </div>
      <div class="cell support" data-step="support">
        <span>7. Maintenance <br>and support</span>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="desc">
        <div class="goal-desc">
          <h3>1. Goal identification</h3>
          <ul>
            <li>client defines his requirements and vision</li>
            <li>brief introduction of the phases in the software development process</li>
            <li>goals are clearly set to ensure that the software solution precisely complies with the specific bussiness need</li>
          </ul>
        </div>
        <div class="plan-desc hidden">
          <h3>2. Strategic planning</h3>
          <ul>
            <li>identification and analysis of business and technical requirements</li>
            <li>analysis of the business environment, competitors and identification of the end user profiles</li>
            <li>development of priorities in case one of the goals is beyond budget</li>
          </ul>
        </div> 
        <div class="scrum-desc hidden">
         <h3>Scrum</h3>
          <ul>
            <li>agile methodology that iteratively delivers demanded features</li>
            <li>each iteration results in working software that is ready for deployment</li>
            <li>quick development of the first working version and inclusion of new emerging desires of the client</li>
          </ul>
        </div>
        <div class="design-desc hidden">
         <h3>3. Design</h3>
          <ul>
            <li>definition of software architecture - design of software components and their interactions </li>
            <li>flexible architecture enables our clients to easily modify software according to their current needs</li>
            <li>designing the user interface with an emphasis on pleasant user experience and responsive design (our applications work on all devices)</li>
          </ul>
        </div>
        <div class="impl-desc hidden">
         <h3>4. Implementation and testing</h3>
          <ul>
            <li>creation of the user interfaces</li>
            <li>back-end development that consists of the core application logic, databases, data and application integration</li>
            <li>internal testing to ensure that software fulfills desired specifications</li>
          </ul>
        </div>
        <div class="delivery-desc hidden">
         <h3>5. Deployment and delivery</h3>
          <ul>
            <li>deploying software to a test and production environment (installation on servers and/or devices)</li>
            <li>acceptance testing by the customer</li>
            <li>collection and processing of remarks, inclusion of the remarks in the subsequent iteration </li>
          </ul>
        </div>
        <div class="support-desc hidden">
         <h3>7. Maintenance and support</h3>
          <ul>
            <li>initial training and familiarization tour for software</li>
            <li>preventive, diagnostic, updating, and repair procedures</li>  
            <li>ongoing critical support</li>
         </ul>
        </div>
      </div>
    </div>
  </div> <!-- row -->
  
</div>
<!-- container -->
