.intro, .contact {
    /*background-color: rgba(0, 0, 0, 1);
    background: url('../img/bgconcrete.jpg');*/
    
    
    
    
    background: rgba(117,209,255,1);
    background: -moz-linear-gradient(-45deg, rgba(117,209,255,1) 0%, rgba(3,98,145,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(117,209,255,1)), color-stop(100%, rgba(3,98,145,1)));
    background: -webkit-linear-gradient(-45deg, rgba(117,209,255,1) 0%, rgba(3,98,145,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(117,209,255,1) 0%, rgba(3,98,145,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(117,209,255,1) 0%, rgba(3,98,145,1) 100%);
    background: linear-gradient(135deg, rgba(117,209,255,1) 0%, rgba(3,98,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d1ff', endColorstr='#036291', GradientType=1 );
    
    
    
    
    
}

.workflow {
    background-color: rgba(57, 86, 115, 1);
}

.contact{
    text-align: left;
}

.input-email{
    padding-left: 5px;
    margin-bottom: 10px;
}

.input-name{
    margin-bottom: 5px;
    padding-right: 10px;
}


.contact h2{
    text-align: center;
}

.sendbtn{
    color: #FFFFFF;
    background: transparent;
    border: solid 1px #FFFFFF;
    margin-top: 10px;
}

.sendbtn:hover{
    color: #036291;
    background: #FFFFFF;
    border: solid 1px #FFFFFF;
}

.sendbtn:focus{
    color: #036291;
    background: #FFFFFF;
    border: solid 1px #FFFFFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;    
}

.inputs{
    color: #FFFFFF;
    background: transparent;
    border: solid 1px #FFFFFF;
}

.inputs:focus{
    border: solid 1px #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}

#fname::-webkit-input-placeholder,
#email::-webkit-input-placeholder,
#message::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
#fname:-moz-placeholder,
#email::-webkit-input-placeholder,
#message::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
#fname::-moz-placeholder, 
#email::-webkit-input-placeholder,
#message::-webkit-input-placeholder { /* Mozilla Firefox 19+ */
   color:   #FFFFFF;
   opacity:  1;
}
#fname:-ms-input-placeholder, 
#email::-webkit-input-placeholder,
#message::-webkit-input-placeholder { /* Internet Explorer 10+ */
   color:   #FFFFFF;
}


.navbar {
    /*border-bottom: 2px solid #FFFFFF;*/
    background-color: transparent;
   /*background: repeat-x url('../img/bg2.jpg');*/
}

.navbar.top-nav-collapse {
   background-color: #FFFFFF; 
}

.navbar.top-nav-collapse a{
   color: #036291; 
}

.desc {
    font-size: 14px;
    line-height: 1.4;
}

@media(min-width:767px) {
    .desc {
        font-size: 14px;
        line-height: 1.4;
    }
}

body.entropia {
    font-size: 14px;
    line-height: 1.4;
}

@media(min-width:767px) {
    body.entropia  {
        font-size: 14px;
    }
}


/* custom styles*/   
.bottom_zero {
    text-align:center;   
    padding-left: 10px;
    padding-right: 10px;
}

.margin_top100{
    margin-top:100px;
}

.margin_top50{
    margin-top:50px;
}

.font-hover:hover {
    color: lightgreen;
}

.white{
    color: #fff;
}

.icon-h-large:hover {
    color: #28c3ab;
    font-size: 55px;
}

.multiplat .icon-h-large:hover {
    color: #28c3ab;
    font-size: 75px;
}

.icon-h-large{
   -webkit-transition: font-size 0.4s, color 0.4s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.4s, color 0.4s;
}

.anim_fadeout{
    -webkit-animation: fade 1s; /* Chrome, Safari, Opera */
    animation: fade 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.anim_fadein{
    -webkit-animation: fade 1s; /* Chrome, Safari, Opera */
    animation: fade 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade {
    0% {color: rgba(0,0,0,1);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,1);}
}

/* Standard syntax */
@keyframes fade {
    0% {color: rgba(0,0,0,1);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,1);}
}

.light {
    font-weight: 100;
}

.logo {
    width: 200px;
}

/*intro*/
.intro{
	min-height: 620px;
	font-weight: 400;
}

@media (min-width: 768px) and (max-width:991px) {
	.intro{
		min-height: 870px;
	}
}

.intro-text {
    text-align: justify;
}


/*references*/
.references .h2 .contact-heading{
    color: #000;    
}



/*solution*/
.solution{
    background: #FFFFFF;
}

.solution h2 {
    color: #036291;
} 

.references h2{
    color: #036291;
}


.solution h3 {
    text-decoration: underline;
} 

.solution .main-heading {
    margin-top: 60px;
}

.solution .cell {
    margin-bottom: 50px;
}
.solution .cell p {
    margin: 0;
}

.solution .cell .images {
    height: 60px;
    padding-top: 5px;
}

.solution .provided .images {
	height: 115px;
}

.solution .provided .multiplat .images {
	padding-top: 20px;
}

/*workflow*/
.workflow {
    text-align: left;
}

    .workflow h2 {
        text-align: center;
    }

    .workflow .panel {
        background-color: rgba(0,0,0,0.0);;
    }
    
    .workflow .subpanel {
        margin-left: 13px;
    }
    
    .workflow .panel .panel-heading:hover {
        background: rgba(255,255,255,.1);
    }
    
    .workflow .panel.selected .panel-heading {
        border-bottom: 1px #fff solid;
        background-color: rgb(200, 77, 72);
    }

.workflow .pic {
    background: no-repeat url('../img/EntropiaScrum.png');
    min-height: 600px;
}
