.desc {
    font-size: 18px;
    line-height: 1.4;
}

@media(min-width:767px) {
    .desc {
        font-size: 20px;
        line-height: 1.4;
    }
}


/* custom styles*/   
.bottom_zero {
    text-align:center;   
    padding-left: 10px;
    padding-right: 10px;
}

.margin_top100{
    margin-top:100px;
}

.margin_top50{
    margin-top:50px;
}

.font-hover:hover {
    color: lightgreen;
}

.white{
    color: #fff;
}

.icon-h-large:hover {
    color: #28c3ab;
    font-size: 55px;
}

.multiplat .icon-h-large:hover {
    color: #28c3ab;
    font-size: 75px;
}

.icon-h-large{
   -webkit-transition: font-size 0.4s, color 0.4s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.4s, color 0.4s;
}

.anim_fadeout{
    -webkit-animation: fade 1s; /* Chrome, Safari, Opera */
    animation: fade 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.anim_fadein{
    -webkit-animation: fade 1s; /* Chrome, Safari, Opera */
    animation: fade 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade {
    0% {color: rgba(0,0,0,1);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,1);}
}

/* Standard syntax */
@keyframes fade {
    0% {color: rgba(0,0,0,1);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,1);}
}

.light {
    font-weight: 100;
}

.logo {
    width: 200px;
}

/*intro*/
.intro{
	min-height: 620px;
}

@media (min-width: 768px) and (max-width:991px) {
	.intro{
		min-height: 870px;
	}
}


/*references*/
.references .h2 .contact-heading{
    color: #000;    
}



/*solution*/
.solution h3 {
    text-decoration: underline;
} 

.solution .main-heading {
    margin-top: 60px;
}

.solution .cell {
    margin-bottom: 50px;
}
.solution .cell p {
    margin: 0;
}

.solution .cell .images {
    height: 60px;
    padding-top: 5px;
}

.solution .provided .images {
	height: 115px;
}

.solution .provided .multiplat .images {
	padding-top: 20px;
}

/*workflow*/
.workflow {
    text-align: left;
}

.workflow h2 {
    text-align: center;
} 

    .workflow .panel {
        background-color: rgba(0,0,0,0.0);;
    }
    
    .workflow .subpanel {
        margin-left: 13px;
    }
    
    .workflow .panel .panel-heading:hover {
        background: rgba(255,255,255,.1);
    }
    
    .workflow .panel.selected .panel-heading {
        border-bottom: 1px #fff solid;
        background-color: rgb(200, 77, 72);
    }
    
    

.workflow .pic {
    background: no-repeat url('../img/EntropiaScrum.png');
    min-height: 600px;
}
